
@font-face {
	font-family:'Radikal-Light';
	src: url('../fonts/Radikal-Light.ttf');
}
@font-face {
	font-family:'Radikal-Bold';
	src: url('../fonts/Radikal-Bold.ttf');
}
*{
	font-family: Radikal-Light;
}

h1{
	position: absolute;
	width:100%;
	font-size:74px;
	font-family:'Radikal-Bold';
	text-align: center;
	margin-top:50px;
	color:#FEC329;
	text-shadow: 4px 4px 15px rgba(50, 50, 50, .8);
}


body{
	padding:0px;
	margin:0px;
}
.profilePic{
	position: absolute;
	width:30px;
	height:30px;
	border:2px solid #e54627;
	border-radius: 120px;
	animation: temp ease-in-out 2s;
	opacity: 0;
}

.name{
	position: relative;
	margin-bottom: 50px;
	width:100%;
	color:#fff;
	text-align:center;
	font-size:30px;
		font-family:'Radikal-Bold';
/*    text-shadow: 0px 0px 5px #000; */
    padding-top:-20px;
    margin-left:-25px;
    	text-shadow: 4px 4px 15px rgba(50, 50, 50, .8);

}

.canvas{
	position: relative;
	width:1280px;
	height:720px;
/*	background-image: url('http://1.bp.blogspot.com/-F_GDq7YDIZ0/UduoDQU20pI/AAAAAAAAEBE/FTJrqP5naMs/s1600/forest_sample1.jpg');
*/	background-size: 100%
}
.wrapper{
	border:0px solid #000;
}
.wrapper .emoji{
	position: absolute;
	float:left;
	margin-left:calc(50% - 60px);
	margin-top:120px;
	width:70px;
	z-index: 100;
}
.emoji{
	border-radius: 140px;

	border:4px solid #fff;
}
.wrapper .vrouw{
	position: absolute;
	margin-top:0px;
	margin-left:calc(50% - 105px);
	width:160px;
	border:6px solid #fff;
	border-radius: 140px;
	z-index:99;
}

.wrapper .equalsign{
	z-index: 99;
	padding-top:80px;
	margin-left:10px;
	margin-right:10px;

	float:left;
	font-size:30px;
	font-weight:bolder;
	color:#fff;
}
.container0{
	top:40%;
	left:6.25%;
	position: absolute;
	width:25%;
	height:200px;
}
.container1{
	top:40%;
	left:37.5%;
	position: absolute;
	width:25%;
	height:200px;
}
.container2{
	top:40%;
	left:68.75%;
	position: absolute;
	width:25%;
	height:200px;
}
.LOVE{

}
.HAHA{
	border-radius: 100px
}
.WOW{
	border-radius: 100px
}

.pulseAnimation{
	animation: pulse ease-in-out 2s infinite;
}
.tempEmoji{
	animation: appear ease-in-out 2s;
	opacity: 1;
}

.msgContainer{
	position: absolute;
	width:calc(100% - 80px);
	height:50px;
	padding:20px;
	padding-top:10px;
	padding-left:60px;
	background-color:#ff9b24;
	font-size: 53px;
	color:#fff;
	font-family: Helvetica;
	text-align:left;
	bottom:0px;
}
.msg{
	position: relative;
	float:left;
}
.msgEmoji{
	position: relative;
	float:left;
	width:60px;
	padding-left:30px;
}

@keyframes temp{
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: .9;

	}
	100% {
		transform: scale(1);
		opacity: 0;

	}
}



@keyframes appear{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	70% {
		transform: scale(1.7);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes pulse{
	0% {
		transform: scale(1);
		border-color: #fff;

	}

	50% {
		transform: scale(1.2);
		border-color: #ece04d;
	}

	90% {
		transform: scale(1.4);
				border-color: #f55232;

	}
	100% {
		transform: scale(1);
		border-color: #fff;
	}


